:host {
    flex: 1 0 100%;
    justify-content: center;
    display: flex;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    h1 {
        font-size: 300%;
    }

    h3 {
        font-size: 120%;
    }
}
