a {
    color: inherit;
    text-decoration: none;

    display: flex;
    justify-content: space-between;

    font-size: 200%;
    padding: 1em;
    border: 1px solid lightgray;
    border-radius: 1em;
    margin: 0 0.2em 0.2em;
}
