<nav>
    <a
        *ngFor="let location of locations"
        [routerLink]="'location/' + location.locationName"
        [attr.aria-label]="'Weather details in ' + location.locationName"
    >
        <span>{{ location.locationName }}</span> <span>{{ location.currentTemperature }}</span>
    </a>
</nav>
