:host {
    flex: 1 0 100%;
    justify-content: center;
    display: flex;
}
.container {
    flex: 1 1 100%;
}
.top-bar {
    $link-width: 100px;

    display: flex;
    align-items: stretch;
    justify-content: center;

    .back {
        flex: 0 0 $link-width;
        text-align: center;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        a {
          font-size: 300%;
          color: inherit;
          text-decoration: none;
        }
    }

    .title {
        flex: 1 1 auto;
    }

    .spacer {
        flex: 0 1 $link-width; // allow the spacer to shrink if needed
    }
}
