<div class="container">
    <div class="top-bar">
      <nav class="back"><a aria-label="Back" [routerLink]="''">←</a></nav>
      <app-main-title class="title" [titleText]="currentLocationName"></app-main-title>
      <span class="spacer"></span>
    </div>
</div>
