<div class="container">
    <app-main-title [titleText]="'Dashboard'"></app-main-title>
    <app-locations-list [locations]="dashboardStateConnector.locationsList$ | async"></app-locations-list>
</div>
